@page "/pc"


@*<ChildComponent InputAttributes="attributesFromParent" Value="Parrent Value"></ChildComponent>*@
@*<ChildComponent Value="Parrent Value" maxlength="15" placeholder="Parent Component Placeholder" required></ChildComponent>*@
<h1 style="@Style">Parent Component Text</h1>

<CascadingValue Value="@Style" Name="ColorStyle">
    <CascadingValue Value="BorderStyle" Name="BorderStyle">
        <ChildComponent></ChildComponent>
    </CascadingValue>
</CascadingValue>



@code {
    //public Dictionary<string, object> attributesFromParent { get; set; } =
    //    new Dictionary<string, object>()
    //    {
    //        { "required", "required" },
    //        { "placeholder", "Parent Component Placeholder" },
    //        { "size", "50" },
    //        { "maxlength", "5" },
    //        { "someattribute", "somevalue" }
    //        };

    public string Style { get; set; } = "color:red";
    public string BorderStyle { get; set; } = "border: 1px solid red";
}